@charset "UTF-8";

.logo {
	height: 50px;
	line-height: 50px;
}

.logo span {
	display: inline-block;
	vertical-align: middle;
	font-size: 2rem;
}

header {
	background: #212121;
	color: white;
	padding-top : 10px;
	padding-bottom: 10px;
}


