@charset "UTF-8";

.logo {
	height: 50px;
	line-height: 50px;
}

.logo a {
	display: inline-block;
	font-size: 2rem;
	text-decoration: none;
	color: white;
}

.logo a:hover {
	color: white;
}

header {
	background: #212121;
	padding-top : 10px;
	padding-bottom: 10px;
	margin-bottom: 25px;
}

body {
	background: #f1f1f1 !important;
}

button {
	outline: none;
	height: 40px;
	text-align: center;
	width: 130px;
	background: white;
	border: 2px solid #be0a26;
	color: #be0a26;
	letter-spacing: 1px;
	text-shadow: 0;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.25s ease;
 }
 button:hover {
color: white;
background: #be0a26;
 }
 button:active {
letter-spacing: 2px;
 }
  
.white{
	background: white;
}

.btnSuppr{
	width:210px;
}

label{
	width:180px;
}

input{
	width:180px;
}

.red{
	color: #be0a26;
}

.ls{
	width:176px;
}

@media screen and (max-width: 992px){
	.wraptext{
		flex-direction: column;
	}
	
	label{
		width:180px;	
	}

	input{
		width:150px;
	}
	
}

@media screen and (max-width: 767px) {
	
	.logo {
		text-align: center;
	}
	
	.m{
		margin-bottom:15px;
	}
	
}

@media screen and (max-width: 434px) {
	
	main{
		font-size: 13px
	}
	
	.btnMargin{
		margin-top: 15px;
	}
	
	label{
		width: 160px;
	}
	
	.ls {
		width: 156px;
	}
	
}

@media screen and (max-width: 352px) {
	
	main{
		font-size: 12px
	}
	
	label{
		width: 135px;
	}
	
	.ls {
		width: 131px;
	}
	
}


